{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <div class="row">
      {% for product in page_obj %}
        <div class="col-sm">
            <div id="carouselExampleControls{{product.id}}" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
            {% for image in product.image.all %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <img src="{{ image.image.url }}" class="d-block w-50" alt="...">
                    </div>
          {% endfor %}
                    <a class="carousel-control-prev" href="#carouselExampleControls{{product.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls{{product.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                  </a>
                </div>
            </div>
            <p>{{product.name}}</p>
        </div>
      {% endfor %}
    </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}